.back-gradient {
  background: radial-gradient(45.32% 100.32% at 0.69% 0.68%, #683669 9.69%, rgb(67 14 109 / 27%) 69.27%, rgba(90, 49, 121, 0) 99.99%);
}
.back-split{
  background:linear-gradient(
    to top,
    #89618A 0%,
    #89618A 50%,
    #260C40 50%,
    #260C40 100%
  );
}
.bottom-gradient{
  background: radial-gradient(95.4% 94.65% at 100% 100%, #554266 19.79%, rgba(114, 100, 126, 0.1) 98.43%, rgba(56, 18, 92, 0) 98.44%);
}

.animationClick{
  transition: .5s ease-in;
}

img{
  height: 100%;
  width: 100%;
}

.cardcontent{
  background:linear-gradient(
  hsl(0 0% 0% /0),
  hsl(20 0% 0%/0.3) 20%,
  hsl(0 0% 0% /1)
  );
} 
